body{
    padding: 0;
    margin: 0;
    /* background-color: #0b1826; */
    background-color: rgb(17, 17, 17);
}	

span{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-family: 'Times New Roman',serif;
    letter-spacing: 5px;
    font-size: 150px;
    font-weight: bold;
    background-image: linear-gradient(
     to right,
     #462523 0,
     #cb9b51 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 100%
     );
    color:transparent;
    -webkit-background-clip:text;
 
}